<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recarga telefônica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="position">
    <ion-item>
        <ion-label>Selecione a operadora</ion-label>
        <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="false" class="padrao">
          <ion-select-option value="alugarFixo">ALUGAR (CELULAR)</ion-select-option>
          <ion-select-option value="alugarCelular">ALUGAR (FIXA)</ion-select-option>
          <ion-select-option value="claroCelular">CLARO (CELULAR)</ion-select-option>
          <ion-select-option value="claroFixo">CLARO (FIXO)</ion-select-option>
          <ion-select-option value="correios">CORREIOS CELULAR</ion-select-option>
          <ion-select-option value="embratel">EMBRATEL</ion-select-option>
          <ion-select-option value="nextel">NEXTEL</ion-select-option>
          <ion-select-option value="oi">OI</ion-select-option>
          <ion-select-option value="oiBrt">OI BTR</ion-select-option>
          <ion-select-option value="sercomtelCelular">SERCOMTEL (CELULAR)</ion-select-option>
          <ion-select-option value="sercomtelFixa">SERCOMTEL (FIXA)</ion-select-option>
          <ion-select-option value="tim">TIM</ion-select-option>
          <ion-select-option value="vivo">VIVO</ion-select-option>
          <ion-select-option value="vivoFixo">VIVO FIXO</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button  expand="block" class="buttonContinue button button-block button-solid ion-activatable ion-focusable hydrated">
      Continuar
    </ion-button>
</ion-content>
